div {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

#lahmacun,
#lasagna,
#locro {
    height: auto;
    width: auto;
    display: block;
    margin: auto;
}

#lasagna {
    height: 400px;
}

.title,
.subtitle,
.list {
    text-align: center;
    color: white;
}

.list {
    font-weight: bold;
}

.title.index {
    background-color: orange;
}

.list .lasagna {
    background-color: lightgreen;
}

.list .lahmacun {
    background-color: salmon;
}

.list .locro {
    background-color: skyblue;
}

.title.lahmacun {
    background-color: red;
}

.subtitle.lahmacun {
    background-color: purple;
}

.title.lasagna {
    background-color: green;
}

.subtitle.lasagna {
    background-color: #D60000;
}

.title.locro {
    background-color: skyblue;
}

.subtitle.locro {
    background-color: rgb(189, 46, 68);
}
